<!DOCTYPE html>
<html>
<!-- Confirmar senha -->

	<div th:fragment="confirmar">
		<script type="text/javascript">
			var password = document.getElementById("password"), confirm_password = document.getElementById("confirm_password");
		
			function validatePassword(){
			  if(password.value != confirm_password.value) {
			    confirm_password.setCustomValidity("As senhas não são iguais!!");
			  } else {
			    confirm_password.setCustomValidity('');
			  }
			}
		
			password.onchange = validatePassword;
			confirm_password.onkeyup = validatePassword;
		</script>
	</div>
</html>

